

#images{
 
    height: 800px;
    width: 900px;
    
}


.outer{
    margin-top: 0px;
    
}


@media(max-width:990px){
    .outer{
        margin-top: 0px;
    }
    
}

@media(max-width:786px){
    #images{
 
        
        visibility: hidden;
        
    }
    
}


.expense{
    font-size: 25px;
}
.forgot{
    
    font-family: 'Courier New', Courier, monospace;
    font-size: 31px;
    font-weight: bolder;
}
.dont{
    font-size: 17px;
    padding-bottom: 20px;
}

.sign{
    
    font-size: 30px;
    font-weight: bolder;
    font-family: 'Courier New', Courier, monospace;
    
}

#input{
    margin-top: 20px;
}

.submit{
    margin-top: 20px;
    background-color: rgb(103, 134, 103);
    

}

.account{
    text-align: center;
    margin-top: 40px;
}

.text{
    padding-top: 10px;
    font-size: 16px;
    text-align: center;
}


.authetication{
    display: flex;
    margin-top: 20px;
}
.authetication div{
    width: 30%;
    border: 1px solid  rgb(103, 134, 103);
    margin-left: 20px;
    padding: 20px 40px;
    
}
