
.section1{
    position: relative;
}
.section1 img{
    
    width: 100%;
    background-size: cover;

 height: 80vh;   
       
}



.section1 div{
    position: absolute;
    text-align: center;
    top: 50%;
    left: 40%;
    
    color: black;
    
}
.section1 div h1{
    font-size: 50px;
}



.section2{
    margin-top: 50px;
    margin-bottom: 100px;
}