    {% load static %}



    {% block css%}
    <link rel='stylesheet'  href={% static 'css/footer.css'%}>
    {% endblock%}
    

<!-- Footer Section -->
<div class="container-fluid">
    <footer class="row row-cols-7 py-5  border-top bg-green-300 py-10" >
      <!-- Brand Section -->
  <div class="col-6 col-sm-4 col-md-3 col-lg-2 mb-3">
    <p style="font-size: 20px; font-weight:bold;">
      Expense V<img src={% static 'img/Group 6.png'%}  alt="Logo" />yage
      
    </p>
    <div class="flex space-x-4">
      <a href="#"><i class="fab fa-facebook text-xl"></i></a>
      <a href="#"><i class="fab fa-twitter text-xl"></i></a>
      <a href="#"><i class="fab fa-youtube text-xl"></i></a>
      <a href="#"><i class="fab fa-instagram text-xl"></i></a>
    </div>
  </div>
  
  
      
  
      <div class="col-6 col-sm-4 col-md-3 col-lg-2 mb-3">
        <h5>Our Destinations</h5>
        <ul class="nav flex-column">
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Canada</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Alaska</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">France</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Iceland</a></li>
          
        </ul>
      </div>
  
      <div class="col-6 col-sm-4 col-md-3 col-lg-2 mb-3">
        <h5>Our Activities</h5>
        <ul class="nav flex-column">
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Northern Lights</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Cruising & Sailing</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Multi-activities</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Kayaking</a></li>
          
        </ul>
      </div>
  
      

      <div class="col-6 col-sm-4 col-md-3 col-lg-2 mb-3">
        <h5>About Us</h5>
        <ul class="nav flex-column">
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Our Story</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Work with us</a></li>
          
        </ul>
      </div>
      <div class="col-6 col-sm-4 col-md-3 col-lg-2 mb-3">
        <h5>Contant Us</h5>
        <ul class="nav flex-column">
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Our Story</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Work with us</a></li>
          
        </ul>
      </div>
      
    </footer>
  </div>
{% comment %} Ends Here {% endcomment %}