{% extends 'base.html'%}
    
{% load static %}




    {% block css%}
    <link rel="stylesheet" href={% static 'css/sign_up.css' %}>
    
    {% endblock%}

{% block content%}

    

<div class="container col-xxl-8 px-4 py-5">
    <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
      
      <div class="col-lg-6 outer">
        <p class="fw-bold  expense" >Expense  V<img src="images/Group 6.png" alt="No_image">yages</p>
        

       
        <p class="sign">Sign Up</p>
       
       <p class="lead dont" >Let's get you all st up so you can access your personal account</p>


       
<form method="POST" action="">

            {% csrf_token%}


       <input type="text" class="form-control my-2" placeholder="Username" name="username" required >

     

      <div class="row g-3 py-3">
          
          <div class="col-sm-6">
              <label for="Exp. Date" class="form-label">First Name</label>

              <input type="text" class="form-control"  placeholder="John" name="fname"  required>
              <div class="invalid-feedback">
              Valid first name is required.
              </div>
          </div>

          <div class="col-sm-6">

              <label for="Cvc" class="form-label">Last Name</label>

              <input type="text" class="form-control" id="lastName" placeholder="Doe" name="lname" required>
              <div class="invalid-feedback">
              Valid last name is required.
              </div>
          </div>
          
          
          <div class="col-sm-6">
              <label for="Exp. Date" class="form-label">Email</label>

              <input type="email" class="form-control"  placeholder="JohnDoe@gmail.com" name='email'  required>
              <div class="invalid-feedback">
              Valid first name is required.
              </div>
          </div>

          <div class="col-sm-6">

              <label for="Cvc" class="form-label">Phone Number</label>
              <input type="number" class="form-control" id="lastName" placeholder="09035014430" name="number" required>
              <div class="invalid-feedback">
              Valid last name is required.
              </div>
          </div>
          
     </div>

     <label for="firstName" class="form-label">Password</label>
              
     <input type="password" class="form-control my-2" placeholder="......." required name="password" id="input">

     
     <label for="firstName" class="form-label">Comfirm Password</label>
              
     <input type="password" class="form-control" placeholder="........" required  name="cpassword"   id="input">
          
      <div class="checkbox mb-3">
          <label>
          <input type="checkbox" > I agree to all the <span
          style="color: red;"> terms</span>  and  <span style="color: red;"> Privacy Policies</span> 
          </label>
      </div>

     
       <input type="submit" class="form-control submit"   value="Create account">


</form>

 
       <p class="account">Don't have an account ?<span style="color: red;"><a href={% url 'login' %}>Login</a></span></p>
       
       
       
        
          
          <div class="authetication">
              <div>
                  <img src={% static 'img/Vector.png'%} alt="">
                  

              </div>
              <div>
                  <img src={% static 'img/flat-color-icons_google.png'%} alt="">
                  
                  
                  
              </div>
              <div>
                  <img src={% static 'img/apple.png' %} alt="">
                  
              </div>
              
          </div>  
      
        </div>

        



        <div class="col-10 col-sm-12 col-lg-6">
          <img src={%static 'img/Rectangle 20.png' %} class="d-block mx-lg-auto img-fluid" alt="Bootstrap Themes"  loading="lazy" id="images">
      
        </div>


      </div>
    </div>
    
  </div>

{% endblock %}
    



</body>
</html>